h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", sans-serif; }

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif; }

body {
  font-size: 1.6rem; }

#wrapper {
  overflow: hidden;
  font-family: "Open Sans", sans-serif; }
  #wrapper p {
    margin: 2rem; }

img {
  vertical-align: bottom; }

#nav {
  text-transform: uppercase;
  margin-bottom: 1rem; }

#header {
  margin: 2rem 0 2rem 0; }
  #header h1 {
    font-size: 3rem;
    font-style: "Open Sans", sans-serif;
    text-align: center;
    color: #000; }
    #header h1 a {
      padding: 2rem 0 2rem 0; }
      #header h1 a:link, #header h1 a:visited {
        color: #000; }
      #header h1 a:hover {
        color: #aaa;
        text-decoration: underline; }
      #header h1 a:active {
        color: #eee; }

#nav .title-bar {
  background-color: #fff; }
  #nav .title-bar .title-bar-title {
    margin: 0.5rem;
    font-size: 2rem;
    color: #000; }
  #nav .title-bar .menu-icon {
    width: 2.5rem;
    height: 2rem; }
    #nav .title-bar .menu-icon:after {
      height: 0.3rem;
      box-shadow: 0 0.8rem 0 #000, 0 1.6rem 0 #000;
      background-color: #000; }
    #nav .title-bar .menu-icon:active::after {
      background-color: #fff;
      box-shadow: 0 0.8rem 0 #ccc, 0 1.6rem 0 #ccc; }
#nav #menu {
  background-color: #fff; }
  #nav #menu .title-bar-title {
    margin: 0.5rem; }
  #nav #menu .menu {
    background-color: #fff; }
    #nav #menu .menu a {
      color: #000;
      font-size: 2rem; }
      #nav #menu .menu a:after {
        border-color: #000 transparent transparent; }
      #nav #menu .menu a:active {
        color: #fff !important;
        background-color: #000; }

.container h2 {
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center; }

#index {
  margin: 4rem 0 2rem 0;
  text-align: center; }

#works {
  border: 0; }
  #works .tabs-title {
    margin: 0 0 0.5rem 0;
    padding: 0; }
    #works .tabs-title a {
      color: #000;
      font-size: 1.6rem;
      line-height: 3rem;
      box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.4);
      text-align: center;
      margin-top: 0.05rem;
      border-radius: 1rem 1rem 0 0;
      background: #eee;
      height: 5rem;
      padding: 1.25rem 0;
      background: linear-gradient(#eee, #fff); }
      #works .tabs-title a:hover {
        background: linear-gradient(#e0e0e0, #fff); }
  #works .is-active a {
    background: #fff; }

.tabs-content {
  text-align: center;
  border: 0; }
  .tabs-content h2 {
    font-size: 2rem;
    margin: 1.5rem;
    text-align: center;
    font-weight: 600; }
  .tabs-content .responsive-embed {
    width: 90%;
    margin: 3rem auto; }
  .tabs-content img {
    margin: 1rem;
    max-width: 90%; }
  .tabs-content .tabs-panel {
    margin: 0 !important;
    padding: 0 !important; }

.author {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: lighter;
  text-align: left; }

#news {
  margin: 0.5rem; }
  #news .media-object {
    border-bottom: solid 0.1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 0 2rem 0; }
    #news .media-object .media-object-section {
      width: 100%;
      float: none;
      display: block;
      text-align: center; }
      #news .media-object .media-object-section img {
        margin: 0 auto; }
      #news .media-object .media-object-section h2 {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem; }
        #news .media-object .media-object-section h2 a {
          color: #000; }
          #news .media-object .media-object-section h2 a:active, #news .media-object .media-object-section h2 a:hover {
            color: #ccc;
            text-decoration: underline; }
      #news .media-object .media-object-section .date, #news .media-object .media-object-section .read {
        font-size: 1.4rem;
        font-style: italic;
        text-align: left; }
      #news .media-object .media-object-section .read {
        text-align: right; }
        #news .media-object .media-object-section .read a {
          color: #000; }
          #news .media-object .media-object-section .read a:active, #news .media-object .media-object-section .read a:hover {
            color: #ccc;
            text-decoration: underline; }

#about {
  padding: 1rem;
  text-align: center; }
  #about img {
    margin-bottom: 2rem; }
  #about p {
    margin-bottom: 2rem; }

#contact {
  padding: 1rem; }
  #contact > img {
    margin: 1rem; }
  #contact .mail a {
    color: #000; }
    #contact .mail a:hover {
      color: #ccc;
      text-decoration: underline; }
    #contact .mail a:active {
      color: #eee; }
  #contact .social {
    height: 5rem; }
    #contact .social div {
      width: 3rem;
      margin: 1rem;
      display: inline-block; }
      #contact .social div:hover {
        width: 3.5rem;
        margin: 0.75rem;
        transition: width 0.1s, margin 0.1s; }
      #contact .social div a img {
        vertical-align: middle;
        width: 100%; }
  #contact input {
    height: 3rem;
    font-size: 1.6rem; }
  #contact textarea {
    font-size: 1.6rem;
    min-height: 10rem; }
  #contact #button {
    height: 3rem;
    float: right;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    padding: 0.5rem 2rem; }

.navbar-fixed-bottom {
  position: fixed;
  bottom: 0; }

#footer {
  text-align: right; }

#sent-mail {
  display: none;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  background-color: rgba(173, 255, 47, 0.4);
  text-align: center;
  padding: 1rem 0; }

#error-mail {
  display: none;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  background-color: rgba(210, 17, 17, 0.4);
  text-align: center;
  padding: 1rem 0; }

@media screen and (min-width: 640px) {
  #wrapper {
    max-width: 96rem;
    margin: 0 auto; }

  #nav #menu > ul {
    text-align: center; }
    #nav #menu > ul > li {
      display: inline-block;
      margin: 2rem;
      position: relative; }
      #nav #menu > ul > li a:after {
        margin-right: -1.9rem; }
      #nav #menu > ul > li a:hover {
        color: #ccc;
        text-decoration: underline; }
      #nav #menu > ul > li ul {
        display: block;
        position: absolute;
        left: 0;
        margin: 1rem 0; }
        #nav #menu > ul > li ul li {
          float: none;
          text-align: left; }
  #nav #menu .final {
    width: 100%; }

  #works {
    max-width: 95%; }

  .container .tabs {
    margin: 0 auto; }
  .container .tabs-content .responsive-embed {
    max-width: 80%;
    margin: 0 auto; }
  .container .tabs-content #calendar {
    max-width: 50rem;
    margin: 0 auto; }

  #contact #button {
    padding: 1rem 2rem;
    height: 4rem; }

  #footer {
    max-width: 96rem; } }
@media screen and (min-width: 1024px) {
  #works .tabs-title {
    display: inline-block; }

  #news .media-object .media-object-section {
    float: none;
    display: table-cell; }
    #news .media-object .media-object-section:first-child {
      width: 30%; }
    #news .media-object .media-object-section:last-child {
      width: 70%; } }

/*# sourceMappingURL=style.css.map */
