
$font:'Open Sans', sans-serif
$fontColor:#000
$hoverColor: #ccc
$inActiveTabColor: #eee
$hoverTabColor:#e0e0e0
$head1: 3rem
$head2: 2rem

h1, h2, h3, h4, h5, h6, p
  font-family: $font

html
  font-size: 10px
  font-family: $font

body
  font-size: 1.6rem

#wrapper
  overflow: hidden
  font-family: $font
  p
    margin: 2rem

img
  vertical-align: bottom

#nav
  text-transform: uppercase
  margin-bottom: 1rem

// HEADER
#header
  margin: 2rem 0 2rem 0
  h1
    font-size: $head1
    font-style: $font
    text-align: center
    color: $fontColor
    a
      padding: 2rem 0 2rem 0
      &:link, &:visited
        color: $fontColor
      &:hover
        color: #aaa
        text-decoration: underline
      &:active
        color: #eee

// Menu

#nav
  .title-bar
    background-color: #fff
    .title-bar-title
      margin: .5rem
      font-size: 2rem
      color: #000
    .menu-icon
      width: 2.5rem
      height: 2rem
      &:after
        height: .3rem
        box-shadow: 0 0.8rem 0 #000, 0 1.6rem 0 #000
        background-color: #000
      &:active
        &::after
          background-color: #fff
          box-shadow: 0 0.8rem 0 $hoverColor, 0 1.6rem 0 $hoverColor

  #menu
    background-color: #fff
    .title-bar-title
      margin: .5rem
    .menu
      background-color: #fff
      a
        color: $fontColor
        font-size: 2rem
        &:after
          border-color: $fontColor transparent transparent
        &:active
          color: #fff!important
          background-color: #000

// Index

.container
  h2
    font-size: 3rem
    margin: 1rem 0
    text-align: center

#index
  margin: 4rem 0 2rem 0
  text-align: center
// Panels

#works
  border: 0
  .tabs-title
    margin: 0 0 .5rem 0
    padding: 0
    a
      color: $fontColor
      font-size: 1.6rem
      line-height: 3rem
      box-shadow: 0 -3px 1px rgba(0,0,0,.4)
      text-align: center
      margin-top: .05rem
      border-radius: 1rem 1rem 0 0
      background: $inActiveTabColor
      height: 5rem
      padding: 1.25rem 0
      background: linear-gradient($inActiveTabColor, #fff)
      &:hover
        background: linear-gradient($hoverTabColor, #fff)
  .is-active
    a
      background: #fff

.tabs-content
  text-align: center
  border: 0
  h2
    font-size: $head2
    margin: 1.5rem
    text-align: center
    font-weight: 600
  .responsive-embed
    width: 90%
    margin: 3rem auto

  img
    margin: 1rem
    max-width: 90%
  .tabs-panel
    margin: 0!important
    padding: 0!important




// Content

.author
  font-size: 1.4rem
  font-style: italic
  font-weight: lighter
  text-align: left

#news
  margin: .5rem
  .media-object
    border-bottom: solid .1rem rgba(0, 0, 0, .1)
    padding: 2rem 0 2rem 0
    .media-object-section
      width: 100%
      float: none
      display: block
      text-align: center
      img
        margin: 0 auto
      h2
        font-size: $head2
        font-weight: bold
        margin: 1rem
        a
          color: $fontColor
          &:active, &:hover
            color: $hoverColor
            text-decoration: underline
      .date, .read
        font-size: 1.4rem
        font-style: italic
        text-align: left
      .read
        text-align: right
        a
          color: $fontColor
          &:active, &:hover
            color: $hoverColor
            text-decoration: underline

#about
  padding: 1rem
  text-align: center
  img
    margin-bottom: 2rem
  p
    margin-bottom: 2rem

#contact
  padding: 1rem
  >img
    margin: 1rem
  .mail
    a
      color: $fontColor
      &:hover
        color: $hoverColor
        text-decoration: underline
      &:active
        color: #eee
  .social
    height: 5rem
    div
      width: 3rem
      margin: 1rem
      display: inline-block
      &:hover
        width: 3.5rem
        margin: .75rem
        transition: width .1s, margin .1s
      a
        img
          vertical-align: middle
          width: 100%
  input
    height: 3rem
    font-size: 1.6rem
  textarea
    font-size: 1.6rem
    min-height: 10rem
  #button
    height: 3rem
    float: right
    border-radius: .8rem
    font-size: 1.6rem
    padding: .5rem 2rem


// FOOTER
.navbar-fixed-bottom
  position: fixed
  bottom: 0

#footer
  text-align: right

#sent-mail
  display: none
  width: 80%
  margin: 0 auto
  font-size: 2rem
  background-color: rgba(173, 255, 47, 0.4)
  text-align: center
  padding: 1rem 0

#error-mail
  display: none
  width: 80%
  margin: 0 auto
  font-size: 2rem
  background-color: rgba(210, 17, 17, 0.4)
  text-align: center
  padding: 1rem 0

@media screen and (min-width : 640px)

  #wrapper
    max-width: 96rem
    margin: 0 auto

  #nav
    #menu
      >ul
        text-align: center
        >li
          display: inline-block
          margin: 2rem
          position: relative
          a
            &:after
              margin-right: -1.9rem
            &:hover
              color: $hoverColor
              text-decoration: underline
          ul
            display: block
            position: absolute
            left: 0
            margin: 1rem 0
            li
              float: none
              text-align: left
      .final
        width: 100%

  #works
    max-width: 95%


  .container
    .tabs
      margin: 0 auto
    .tabs-content
      .responsive-embed
        max-width: 80%
        margin: 0 auto
      #calendar
        max-width: 50rem
        margin: 0 auto

  #contact
    #button
      padding: 1rem 2rem
      height: 4rem


  #footer
    max-width: 96rem

@media screen and (min-width : 1024px)

  #works
    .tabs-title
      display: inline-block

  #news
    .media-object
      .media-object-section
        float: none
        display: table-cell
        &:first-child
          width: 30%
        &:last-child
          width: 70%
