-var path = "images/paintings/canvases/"
-var alt = "Canvas"
-var author = "author"
-var txt1 = "56%, mixed media, 200 x 250cm, 2011"
-var txt2 = "Dijagonala / Diagonal, mixed media, 200 x 250cm, 2012"
-var txt3 = "Čokolada sa rižom / Rice Chocolate, oil on canvas, 157 x 70cm, 2010"
-var txt4 = "Toblerone, mixed media, 157 x 70cm, Collection of New Belgrade Cultural Network, Block gallery 2011"
-var txt5 = "Post Eat, oil on canvas, 157 x 70cm, Collection of Serbian Academy of Arts and Sciences, 2011"
-var txt6 = "Yo - Yo, oil on canvas, diptych 157 x 150cm, 2011"
-var txt7 = "Mrvice / The crumbs, oil on canvas, diptych 170 x 70cm, Vlado Njaradi artcollony collection, 2011"
-var proba = "Probni materijal"

-var content = [{img:"canvas1.jpg", alt:alt}, {p:txt1}, {img:"canvas2.jpg", alt:alt}, {p:txt2}, {img:"canvas3.jpg", alt:alt}, {p:txt3}, {img:"canvas4.jpg", alt:alt}, {p:txt4}, {img:"canvas5.jpg", alt:alt}, {p:txt5}, {img:"canvas6.jpg", alt:alt}, {img:"canvas7.jpg", alt:alt}, {p:txt6}, {img:"canvas8.jpg", alt:alt}, {img:"canvas9.jpg", alt:alt}, {p:txt7}, {img:"canvas10.jpg", alt:alt}, {img:"canvas11.jpg", alt:alt}]

#canvasesss
    h2 CANVASES
    include ../filter
