- var path = "images/paintings/B2/"
- var alt = "Untitled, aquarelle"
 -var txt1 = "Bez naziva / Untitled, aquarelle, 100 x 70cm, 2012"
 -var txt2 = "Bez naziva / Untitled, aquarelle, 100 x 70cm, 2013"
 -var txt3 = "Bez naziva / Untitled, aquarelle, 100 x 70cm, 2014"

- var content = [{img:"b2-1.jpg", alt: alt}, {p:txt1}, {img:"b2-2.jpg", alt: alt}, {p:txt2}, {img:"b2-3.jpg", alt: alt}, {p:txt3}]

#b2
  h2 B2 Aquarelles
  include ../filter
