- var path = "images/paintings/aquarelle/"
- var alt = "Aquarelle"

-var content = [{img:"aquarelle1.jpg", alt:alt}, {img:"aquarelle2.jpg", alt:alt}, {img:"aquarelle3.jpg", alt:alt}, {img:"aquarelle4.jpg", alt:alt}, {img:"aquarelle5.jpg", alt:alt}, {img:"aquarelle6.jpg", alt:alt}, {img:"aquarelle7.jpg", alt:alt}, {img:"aquarelle8.jpg", alt:alt}, {img:"aquarelle8.jpg", alt:alt}, {img:"aquarelle9.jpg", alt:alt}, {img:"aquarelle10.jpg", alt:alt}, {img:"aquarelle11.jpg", alt:alt}, {img:"aquarelle12.jpg", alt:alt}]

#aquarelle
  h2 Small format aquarelles (not bigger than A4) done in period from 2008 to 2013
  include ../filter
