- var path = "images/paintings/transparency/"
- var alt = "Transparency"
- var txt1 = "Transparent paintings-objects (dimensions of standard A4 paper) are made from two or more light transmitting layers that overlapping. Their appearance is variable and depends on the intensity of the light source and the viewing angle. Changing light shadow environment affects the constant change the form of these objects."

-var content = [{p:txt1}, {img:"transparency1.jpg"}, {img:"transparency2.jpg"}, {img:"transparency3.jpg"}, {img:"transparency4.jpg"}, {img:"transparency5.jpg"}, {img:"transparency6.jpg"}, {img:"transparency7.jpg"}]

#paintings
  h2 Transparency
  include ../filter
