- var lang = "Eng"
- var works = "Infections"

doctype html
html(lang = "en")
  head
    case lang
      when "Eng"
        include includes/head
      default
        include ../includes/head
    title Infections
  body
    #wrapper
      header#header
        h1: a(href="index.html") Sonja Radaković
      nav#nav
        include includes/menu/menu
      .container
        h2 #{works}
        case works
          when "Whoredom"
            include includes/container/works/01-whoredom/whoredom
          when "Installations"
            include includes/container/works/02-installations/installations
          when "Infections"
            include includes/container/works/03-infections/infections
          when "Paintings"
            include includes/container/works/04-paintings/paintings
      include includes/footer
      #script
        case lang
          when "Eng"
            include includes/scripts
          default
            include ../includes/scripts
