- var lang = "Eng"
- var works = "Installations"

doctype html
html(lang = "en")
  head
    include includes/head
    title Installations
  body
    #wrapper
      header#header
        h1: a(href="index.html") Sonja Radaković
      nav#nav
        include includes/menu/menu
      .container
          h2 #{works}
          case works
              when "Whoredom"
                  include includes/container/works/01-whoredom/whoredom
              when "Installations"
                  include includes/container/works/02-installations/installations
              when "Infections"
                  include includes/container/works/03-infections/infections
              when "Paintings"
                  include includes/container/works/04-paintings/paintings
      include includes/footer
      #script
        include includes/scripts
