- var lang = "Eng"

doctype html
html(lang = "en")
  head
    case lang
      when "Eng"
        include includes/head
      default
        include ../includes/head
    title News
  body
    #wrapper
      header#header
        h1: a(href="index.html") Sonja Radaković
      nav#nav
        include includes/menu/menu
      .container
        include includes/container/newsCont
      include includes/footer
      #script
        case lang
          when "Eng"
            include includes/scripts
          default
            include ../includes/scripts
