#about
  img(src = "images/Sonja.jpg" alt = "Sonja")
  p SONJA RADAKOVIĆ (1989 Belgrade, Serbia) earned Bachelor’s and Master’s degree in painting in 2014 at the Academy of Arts in Novi Sad where she works as a teaching assistant. Sonja is actively exhibiting since 2007 She has participated in several solo exhibitions, numerous group exhibitions and projects in Serbia and the region. She was awarded several scholarships from the Fund for Young Talents of the Republic of Serbia, the Ministry of Youth and Sports of the Republic of Serbia. So fair won two awards for painting.
  p In her artwork Sonja uses her own and other people's body as a manipulative tool, takes a socially desirable role and examines its social and artistic position on the border of morality, taste and decency.
  p Since 2013 she is actively engaged in artwhoredom.
