#contact
  #sent-mail E-mail has been sent. Thank you!
  #error-mail Invalid entry, please fill required fields.
  img(src="images/contact/Sonja.jpg")
  p Contact
  p.mail
    a(href = "mailto:sonjeta@gmail.com") sonjeta@gmail.com
  p +381643224565
  .social
    div
      a(href = "https://www.facebook.com/sonja.radakovic.14?fref=ts" target = "_blank")
          img(src = "images/contact/fb.svg")
    div
      a(href = "https://www.linkedin.com/in/sonja-radakovi%C4%87-9ab85a48/" target = "_blank")
        img(src = "images/contact/In.svg")
    div
      a(href = "https://www.instagram.com/soponjapa/" target = "_blank")
        img(src = "images/contact/inst.svg")
  form#contact(method = "post" action = "sendmail.php" name = "Contact")
    input#name(name = "name" type = "text" placeholder = "Name" required)
    input#email(name = "email" type = "email" placeholder = "e-mail" required)
    input#subject(name = "subject" type = "text" placeholder = "Subject" required)
    textarea#text(name = "message" placeholder = "Message")
    input#button.button(type = "submit" value = "Submit")
