- var path = "images/news/"
- var readmore = "Read More..."

//- Vice
- var viceImg = "vice.jpg"
- var alt = "Vice"
- var viceHref = "https://www.vice.com/rs/article/iza-ovog-oglasa-se-krije-kurvanje"
- var viceHead = 'VICE - Iza ovog oglasa se krije "Kurvanje"'
- var viceDate = "March 11, 2015"
- var viceTxt = "YOUNG SERBIAN ARTIST SEEKS A RENOWNED EXHIBITION SPACE FOR A SOLO EXHIBITION"
- var vice = {img:viceImg, href:viceHref, headline:viceHead, date:viceDate ,txt:viceTxt}

//- Agitpop
- var agitpopImg = "agitpop.jpg"
- var alt = "Agitpop"
- var agitpopHref = "http://agitpop.me/?1092E56D"
- var agitpopHead = "Agitpop - House on Fire"
- var agitpopDate = "March 1, 2015"
- var agitpopTxt = "Which five cases would you preserve if your house is on fire?"
- var agitpop = {img:agitpopImg, href:agitpopHref, headline:agitpopHead, date:agitpopDate, txt:agitpopTxt}

//- KCPA
- var kcpaImg = "kcpa.jpg"
- var alt = "KC Pančevo"
- var kcpaHref = "http://rtvpancevo.rs/Vesti/Kultura/analiza-prostora-u-galeriji.html"
- var kcpaHead = "Analysis of Space in the Gallery of Contemporary Art Pančevo"
- var kcpaDate = "December 5, 2014"
- var kcpaTxt = '"Analysis of Space", an exhibition by Marija Kauzlarić, Sonja Radaković and Marko Tirnanić, devided the space of the Gallery into dosens of smaller spaces by means of white plastic shower curtains. In this way, the artists created intimate spaces for the visitors to explore and experience on their own.'
- var kcpa = {img:kcpaImg, href:kcpaHref, headline:kcpaHead, date:kcpaDate, txt:kcpaTxt}

//- Masters
- var mastersImg = "masters.jpg"
- var alt = "Masteri"
- var mastersHref = "http://akademija.uns.ac.rs/izlozba-23/?lang=lat"
- var mastersHead = "Masters of Art - An Exhibition by the Students of the Department of Fine Arts"
- var mastersDate = "November 30, 2014"
- var mastersTxt = "An exhibition of works by the students of the Master studies of the Department of Fine Arts, Academy of Arts in Novi Sad."
- var masters = {img:mastersImg, href:mastersHref, headline:mastersHead, date:mastersDate, txt:mastersTxt}

//- CHDR
- var chdrImg = "chdr.jpg"
- var alt = "Identities"
- var chdrHref = "http://www.centerforhistory.net/index.php?option=com_content&task=view&id=94&Itemid=57"
- var chdrHead = 'Identities" Exhibition'
- var chdrDate = "August 24, 2014"
- var chdrTxt = 'On 24 August 2014 in Golubic (Obrovački), Croatia, the professors and assistants from the Art Academy in Osijek and the Academy of Arts in Novi Sad opened the art exhibition "Identities". Works were exposed by: Goran Despotovski, Vladimir Frelih, Ana Petrovic, Sonja Radakovic and Vlado Rancic. Goran Despotovski and Vladimir Frelih gave a speech at the opening.'
- var chdr = {img:chdrImg, href:chdrHref, headline:chdrHead, date:chdrDate, txt:chdrTxt}

//- MSUV1
- var msuv1Img = "msuv.jpg"
- var alt = "MSUV"
- var msuv1Href = "http://www.msuv.org/program/fack-msuv-izvodjenje-muzeja-kao-zajednickog-dobra.php"
- var msuv1Head = "FACK MSUV / Performing the Museum as a Common Good"
- var msuv1Date = "July 6, 2014"
- var msuv1Txt = 'FACK MSUV is a collective social-artistic operation of temporary "liberalization" of the Museum of Contemporary Art of Vojovodina (MSUV) in Novi Sad in the period between 30 June and 6 July 2014.'
- var msuv1 = {img:msuv1Img, href:msuv1Href, headline:msuv1Head, date:msuv1Date, txt:msuv1Txt}

//- MSUV2
- var msuv2Img = "msuv.jpg"
- var alt = "MSUV"
- var msuv2Href = "http://www.msuv.org/program/projekat-razlike-retrospektiva.php"
- var msuv2Head = 'The "Differences" Project - A Retrospect'
- var msuv2Date = "June 19, 2014"
- var msuv2Txt = 'The "Differences" project was started in 2005, aspiring to get all interested professors and students of the Academy of Arts in Novi Sad together, in order to do collaborative research on social, economic, cultural and political value of "differences".'
- var msuv2 = {img:msuv1Img, href:msuv2Href, headline:msuv1Head, date:msuv1Date, txt:msuv1Txt}


- var content = [vice, agitpop, kcpa, masters, chdr, msuv1, msuv2]

#news
  each i in content
    .media-object
      .media-object-section
        a(href = i.href target = "_blank")
          img(src = path + i.img alt = i.alt)
      .media-object-section
        h2 
          a(href = i.href  target = "_blank")  #{i.headline} 
        p.date #{i.date}
        p #{i.txt}
        p.read
          a(href = i.href  target = "_blank") #{readmore}
