ul#works.tabs.row(data-tabs)
  each i, index in list
    if i.class
      li.tabs-title.small-6.column(class = i.class)
        a(href = "#panel" + index) #{i.text}
    else
      li.tabs-title.small-6.column
        a(href = "#panel" + index) #{i.text}
      
.tabs-content(data-tabs-content = "works")
  each el, index in list
    .tabs-panel(id = "panel" + index)
      case el.text
        when "Promotion 2016"
          include 01-whoredom/01-promotion
        when "Artist for rent"
          include 01-whoredom/02-rent
        when "An annoucment"
          include 01-whoredom/03-announcement
        when "Gangbang"
          include 01-whoredom/04-gangbang
        when "How I met Uroš Đurić"
          include 01-whoredom/05-Uros
        when "Sonja for MSUV"
          include 01-whoredom/06-MSUV
        when "Current position"
          include 02-installations/01-position
        when "Analysis of space"
          include 02-installations/02-space
        when "Heavy bread"
          include 02-installations/03-bread
        when "Red terrace"
          include 02-installations/04-terrace
        when "Packed in YU"
          include 03-infections/01-yugoslavia
        when "Micro infections"
          include 03-infections/02-micro
        when "Infection"
          include 03-infections/03-infection
        when "Infection in castrix"
          include 03-infections/04-castrix
        when "Canvases"
          include 04-paintings/01-canvases
        when "B2"
          include 04-paintings/02-b2
        when "Aquarelle"
          include 04-paintings/03-aquarelle
        when "Transparency"
          include 04-paintings/04-transparency
