- var menus = [{text: 'menu 1', link: '###'}, {text: 'menu 2', tip: 'menu-tip', submenu: [{text: 'sub-2-1', link: '###', tip: 'menu-tip'}, {text: 'sub-2-2', link: '###', tip: 'menu-tip'}] }, {text: 'menu 3', submenu: [{text: 'sub-3-1', link: '###', tip: 'menu-tip'}, {text: 'sub-3-2', link: '###'}, {text: 'sub-3-3', link: '###'}, {text: 'sub-3-4', link: '###', tip: 'menu-tip'}] }, {text: 'menu 4', link: '###'}];
//- var menus = 
//- [{text: 'menu 1', link: '###'},
//- {text: 'menu 2', tip: 'menu-tip',
//-   submenu: [{text: 'sub-2-1', link: '###', tip: 'menu-tip'},
//-             {text: 'sub-2-2', link: '###', tip: 'menu-tip'}] },
//- {text: 'menu 3',
//-   submenu: [{text: 'sub-3-1', link: '###', tip: 'menu-tip'},
//-             {text: 'sub-3-2', link: '###'},
//-             {text: 'sub-3-3', link: '###'},
//-             {text: 'sub-3-4', link: '###', tip: 'menu-tip'}]
//- {text: 'menu 4', link: '###'}];

.side(data-icon='M')
  ul.side-menu
    each i in menus
      li.side__i
        if i.submenu
          if i.tip
            a.side__item.side__item--sub(data-tip=i.tip, href=i.link)= i.text
          else
            a.side__item.side__item--sub(href=i.link)= i.text
          ul.side__submenu
            each subi in i.submenu
              li.side__subi
                if subi.tip
                  a.side__subitem(href=subi.link, data-tip=subi.tip)= subi.text
                else
                  a.side__subitem(href=subi.link)= subi.text
        else
          if i.tip
            a.side__item(data-tip=i.tip, href=i.link)= i.text
          else
            a.side__item(href=i.link)= i.text



//- ====================================
//- 
//-      Bazični PRIMER
//- 
//- ===================================
//- 
//- - var menu = [{text:"WORKS", submenu:[{text:"WHOREDOM"}, {text:"INSTALLATIONS"}, {text:"INFECTIONS"}, {text:"PAINTINGS"}]}, {text:"NEWS"}, {text:"ABOUT"}, {text:"CONTACT"}]
//- 
//- nav#nav
//-   ul
//-     each i in menu
//-       li #{i.text}
//-         if i.submenu
//-           ul 
//-             each el in i.submenu
//-               li #{el.text}
