- var menu = [{text:"works", submenu:[{text:"whoredom"}, {text:"installations"}, {text:"infections"}, {text:"paintings"}]}, {text:"news"}, {text:"about"}, {text:"contact"}, {final:"final"}]


include buttonMenu
#menu.top-bar(data-animate="hinge-in-from-top hinge-out-from-top")
  ul.vertical.menu(data-accordion-menu)
    each i in menu
      if i.submenu
        li(class = i.text)
          a(href="#") #{i.text}
            ul.nested.menu.vertical(data-submenu)
              each el in i.submenu
                li
                  a(href = el.text + ".html") #{el.text}
      else if i.final
        li(class = i.final)
      else
        li
         a(href = i.text + ".html") #{i.text}
