- var path = "images/infection/PIYugoslavia/"
- var txt1 = 'Packed in Yugoslavia was set up in old and ruined fish processing plant in Apatin, in the western part of the Autonomous Province of Vojvodina, Serbia. The material that was discovered at the site, a large number of fish can lids, was suitable for this space installation. All can lids were made in former Yugoslavia and contain a surface stamp "Packed in Yugoslavia". The product of a non-existent country can be interpreted through the industry and production of national ideology, history, politics and memories.'
- var txt2 = "Photography: Nikola Radović"
- var author = "author"
- var alt = "Packed in Yugoslavia"

- var content = [{p:txt1}, {img:"Yu1.jpg", alt:alt}, {img:"Yu2.jpg", alt:alt}, {img:"Yu3.jpg", alt:alt}, {img:"Yu4.jpg", alt:alt}, {img:"Yu5.jpg", alt:alt}, {t:txt2, class:author}]

#Yuga
  h2 PACKED IN YUGOSLAVIA (2014)
  include ../filter
