- var path = "images/infection/minfection/"
- var txt1 = "Monochrome units made out of plasticine (smaller than one centimeter squared), useful for filling small cracks and holes in the environment"
- var author = "author"
- var alt = "Micro infextion"

- var content = [{p:txt1}, {img:"Minfection1.jpg", alt:alt}, {img:"Minfection2.jpg", alt:alt}, {img:"Minfection3.jpg", alt:alt}, {img:"Minfection4.jpg", alt:alt}, {img:"Minfection5.jpg", alt:alt}]

#micro_infection
  h2 MIKRO ZARAZA / MICRO INFECTION (2011/12)
  include ../filter
  
