- var path = "images/infection/infection/"
- var alt = "infection"

- var content = [{img:"infection1.jpg", alt:alt}, {img:"infection2.jpg", alt:alt}, {img:"infection3.jpg", alt:alt}, {img:"infection4.jpg", alt:alt}, {img:"infection5.jpg", alt:alt}, ]


#infection
  h2 ZARAZA / INFECTION (2011/12)
  include ../filter
