- var path = "images/infection/castrix/"
- var txt1 = "Photography: Darko Cvetanović"
- var alt = "infection in Cartix"
- var author = "author"

- var content = [{img:"castrix1.jpg", alt:alt}, {img:"castrix2.jpg", alt:alt}, {img:"castrix3.jpg", alt:alt}, {img:"castrix4.jpg", alt:alt}, {t:txt1, class:author}]

#castrix
  h2 ZARAZA U KASTRIXU / INFECTION IN CASTRIX (2011/2012)
  include ../filter
