- var path = "images/installations/curpos/"
- var txt1 = "During a six-hour, public space performance, the artist represented her current professional position."
- var txt2 = "The performance was carried out in Belgrade, under the sponsorship of Baushtelle: Balkan Temple residency."
- var txt3 = "Photography: Mario Topić"
- var author = "author"

- var content = [{p:txt1}, {p:txt2}, {img:"curpos1.jpg", alt:"Current position"}, {img:"curpos2.jpg", alt:"Current position"}, {img:"curpos3.jpg", alt:"Current position"}, {img:"curpos4.jpg", alt:"Current position"}, {t:txt3, class:author}]

#position
    h2 CURRENT POSITION (2015)

    include ../filter