- var path = "images/installations/aos/"
- var txt1 = "…Je vidai mon verre cul sec et me levai. J'avais envie d'aller me perdre dans Marseille. Dans ses odeurs. Dans les yeux de ses femmes. Ma ville. Je savais que j'y avais toujours rendez-vous avec le bonheur fugace des exilés. Le seul qui m'allait…"
- var txt2 = "Jean Claude Izzo, Vivre Fatigue, J'ai Lu (2001)"
- var txt3 = "(…I poured the contents of the glass into my dry throat and carried on. I craved to lose myself in Marseille. In it’s thoughts. In the eyes of its women. Of my city. I knew that I couldn’t avoid the passing luck of a outcast. The only one that belonged to me…)"
- var txt4 = "The sensation of exile in one’s own town, surroundings and work, described in this quote from Jean Claude Izzo’s story could be representative of the space in which three artists approach each other, their respective creative processes and the visitor. Namely, by constantly, consciously or unconsciously confronting the formal and informal limitations within a certain space, context and individual practice we build upon our representation, identity and maintain our communication towards the world, which is frequently followed by feelings of exclusion and non-belonging on one side, and a complete loss of intimate space – now public due to the development of new technologies – on the other."
- var txt5 = "This spatial installation, the collective work of Marija Kauzlarić, Sonja Radaković and Marko Tirnanić, touches on some of the aforesaid issues through a focus on physical space. The artists present this space to us by dividing it into smaller segments, of which we only gain awareness once we have already tread deep into the piece. Measured by the area of the human body, the newly established segments fit into the boundaries of one of the most intimate scopes of our society – the surface of a shower. Bathroom curtains, of showers and bathtubs are all over the gallery. We pass from one to another seemingly parcelled place of intimacy in which we are sometimes alone, but essentially unaware who or what may be waiting beyond it. Spaces within spaces, through which we pass, create a faint feeling of unease before the unknown that belongs both to us and all those that previously utilized the curtains."
- var txt6 = "The exhibition, realized within the New technologies program, mainly deals with the object and range of its contents and somewhat less with the form – meaning that the three artists view new technologies through the very modus or process of thought. This is why the accent, in the visual sense, is not on the digital but on the conception of effects it causes within society. We are faced with a persistent fragmentation of values simultaneous with the constant swelling of our adaptive capacities."
- var txt7 = "Through this hybridization of three artistic practices Maria Kauzlarić, Sonja Radaković and Marko Tirnanić attempt to modify the limits within which individuals pursue their goals. Through an analysis of space, they speak of the dangers of a so-called robotized clinging to norms that in itself represents a corruption of the idea of public space which almost always borders personal interest. Therefore it should be understood that a preservation of integrity that all individuals establish for themselves is the first step towards the construction of a decent world we all strive to live in, meaning that it is vital to have one’s self as a reference point while developing an understanding of intimate space."
- var txt8 = "Zorana Đaković Minniti"
- var txt9 = "Photography: Irena Mirković"
- var author = "author"
- var quote = "quote"

- var content = [{img:"aos1.png", alt: "space analyze"}, {p:txt1}, {t:txt2, class:quote}, {p:txt3}, {p:txt4}, {p:txt5}, {p:txt6}, {p:txt7}, {t:txt8, class:quote}, {img:"aos2.jpg", alt: "space analyze"}, {img:"aos3.jpg", alt: "space analyze"}, {img:"aos4.jpg", alt: "space analyze"}, {img:"aos5.jpg", alt: "space analyze"}, {img:"aos6.jpg", alt: "space analyze"}, {img:"aos7.jpg", alt: "space analyze"}, {img:"aos8.jpg", alt: "space analyze"}, {img:"aos9.jpg", alt: "space analyze"}, {t:txt9, class:author}]

#space
    h2 CURRENT POSITION (2015)

    include ../filter
