- var path = "images/installations/hbread/"
- var txt1 = "Heavy Bread is a standalone object, separated out of the Hunger installation which deals with the physical presentation of fiction created by individual needs and preferences.This concrete block hides a cemmented loaf of bread."
- var txt2 = "Contains:"
- var txt3 = "one loaf of Sava bread: 35 x 16 x 9.5 cm; 500g"
- var txt4 = "ferroconcrete: 64 x 29 x 15 ≈ 14kg"
- var txt5 = "a red satin pillow: 68 x 68 cm"
- var txt6 = "Date and place of the act of concreting: 12 June 2012, Fejős Klára dormitory, Novi Sad"
- var txt7 = "Current Location of the work:"
- var txt8 = "The concrete block is on the terrace of the Youth tribunes gallery, Cultural center of Novi Sad"
- var tab = "tab"
- var author = "author"

- var content = [{p:txt1}, {p:txt2}, {p:txt3, class:tab}, {p:txt4, class:tab}, {p:txt5, class:tab}, {p:txt6}, {img:"hbread1.jpg", alt: "heavy bread"}, {img:"hbread2.jpg", alt: "heavy bread"}, {img:"hbread3.jpg", alt: "heavy bread"}, {p:txt7}, {p:txt8}, {img:"hbread4.jpg", alt: "heavy bread"}, {img:"hbread5.jpg", alt: "heavy bread"}, {img:"hbread6.jpg", alt: "heavy bread"}]

#brad
    h2 TEŽAK 'LEB / HEAVY BREAD (2012 - 2014)
    include ../filter