- var path = "images/installations/terrace/"
- var txt1 = "The installation at the entrance of the Heritage House of Pavle Beljanski in Novi Sad represents the interpretation of Milovan Milovanovic’s picture. Impressionistic approach to thispiece of art was moved into space of 100 square meters where each coloured rectangular paper represents one brush move. The installation was made out of 10 000 monochrome units."
- var txt2 = "Milan Milovanović, Red Terrace, Oil on canvas 1920"
- var author = "author"

- var content = [{p:txt1}, {img:"terrace1.jpg", alt: "red terrace"}, {p:txt2, class:author}, {img:"terrace2.jpg", alt: "red terrace"}, {img:"terrace3.jpg", alt: "red terrace"}, {img:"terrace4.jpg", alt: "red terrace"}, {img:"terrace5.jpg", alt: "red terrace"}, {img:"terrace6.jpg", alt: "red terrace"}, {img:"terrace7.jpg", alt: "red terrace"}, {img:"terrace8.jpg", alt: "red terrace"}, {img:"terrace9.jpg", alt: "red terrace"}, {img:"terrace10.jpg", alt: "red terrace"}, {img:"terrace11.jpg", alt: "red terrace"}, ]

#terrace
    h2 CRVENA TERASA / RED TERRACE (2010)
    include ../filter
