- var path = "images/whoredom/promotion/"
- var alt = "calendar"
- var content = [{img:"calendar1.jpg", alt:alt}, {img:"calendar2.jpg", alt:alt}, {img:"calendar3.jpg", alt:alt}, {img:"calendar4.jpg", alt:alt}]

h2 PROMOCIJA 2016. / PROMOCIJA 2016 (2015/16)

#promotion
    .responsive-embed.widescreen
      iframe(width="560" height="315" src="https://www.youtube.com/embed/h6Y48nHLY_Q" frameborder="0" allowfullscreen)
    #calendar
        include ../filter
