- var path = "images/whoredom/rent/"
- var txt1 = "Sonja Radaković, 26 years old European, recreative ballet dancer, very educated and creative. Beautiful smooth skin, light tan, silky body and perfect health condition. Professional, sophisticated, elegant and flexible. Suitable and available for any art occasion. Discretion is guaranteed. Serious inquires only please."
- var txt2 = "Sonja Radakovic  had been rented on 11 September 2015 for a performance at the opening of the solo exhibition of the Slovenian artist Jasmina Cibic, for her piece “Tear Down and Rebuild” at the Museum of Contemporary Art Belgrade. Sonja considers this renting an integral part of her project Whoredom."
- var txt3 = "Jasmina Cibic, performance within the exhibition Tear Down and Rebuild"
- var txt4 = "Salon of the MoCA 11.09.2015, Beograd"
- var txt5 = "Photography: Boris Burić and Saša Reljić"
- var author = "author"

- var content = [{p:txt1}, {img:"rent1.jpg", alt:"rent artist"}, {p:txt2}, {img:"rent2.jpg", alt:"rent artist"}, {img:"rent3.jpg", alt:"rent artist"}, {img:"rent4.jpg", alt:"rent artist"}, {t:txt3, class:author}, {t:txt4, class:author}, {t:txt5, class:author}]

#rent

    h2 IZNAJMLJUJE SE UMETNIK / ARTIST FOR RENT (2015)
    include ../filter
