- var path = "images/whoredom/announcement/"
- var txt1 = "An Announcement is an artwork that provokes the public in a way that is visually very banal, while conveying a clear message in its textual content. The announcements were placed in public spaces at the entrances to several art galleries in Belgrade| (Salon of the Museum of Contemporary Art in Belgrade, Remont, HUB, U10, Cultural Centre of Belgrade, Chaos gallery, Zvono etc.). This was carried out as just a segment of an ongoing work, which is a part of the artistic project named Whoredom. The word whoredom is widely perceived as shameful and often closely associated with pornography and prostitution. Even though we live in a time when almost all taboos have been overcome, people still find it difficult to utter this word. After the initial shock when faced with the title and the visual register, the observers usually begin to moralize and unmistakably identify themselves as what is considered to be the right/pure side. Even if you have never offered your body for money, are you sure that you have never engaged in whoredom? Are you sure that, by smiling and making concessions to others, you have never sold yourself even a bit? Ok that is life, but at the same time, it is whoredom. This project is generally based on a series of actions and performances that provoke questions about identity and positions of power, mainly within the socio-artistic structures. It began in 2013 and so far it has been realized through the works: Sonja for MSUV, How I Met Uroš Đurić, Gangbang and Whoredom."
- var txt2 = "Photography: Milica Drakulić"
- var txt3 = "Makeup: Jana Škobić"
- var author = "author"

- var content = [{p:txt1},{img:"announcement1.jpg", alt:"announcement"}, {img:"announcement2.jpg", alt:"announcement"}, {img:"announcement3.jpg", alt:"announcement"}, {img:"announcement4.jpg", alt:"announcement"}, {img:"announcement5.jpg", alt:"announcement"}, {img:"announcement6.jpg", alt:"announcement"}, {t: txt2, class:author}, {t:txt3, class:author}]

#announcement

    h2 OGLAS / AN ANNOUNCEMENT (2015)

    include ../filter
