- var path = "images/whoredom/gangbang/"
- var txt1 = "This performance was held at the Museum of Contemporary Art of Vojvodina (MSUV) in collaboration with Operation F.A.C.K. MSUV. Contains one double bed, one half-naked female artist, prepared for anything, and the audience in the mood for shooting one by one."
- var txt2 = "Photography: Marko Hercegović"
- var txt3 = "Archives of the Museum of Contemporary Art of Vojvodina"
- var author = "author"

- var content = [{p: txt1}, {img:"gangbang1.jpg", alt:"gangbang"}, {img:"gangbang2.jpg", alt:"gangbang"}, {img:"gangbang3.jpg", alt:"gangbang"}, {img:"gangbang4.jpg", alt:"gangbang"}, {img:"gangbang5.jpg", alt:"gangbang"},{img:"gangbang6.jpg", alt:"gangbang"},{img:"gangbang7.jpg", alt:"gangbang"}, {img:"gangbang8.jpg", alt:"gangbang"}, {img:"gangbang9.jpg", alt:"gangbang"}, {img:"gangbang10.jpg", alt:"gangbang"}, {img:"gangbang11.jpg", alt:"gangbang"}, {img:"gangbang12.jpg", alt:"gangbang"}, {img:"gangbang13.jpg", alt:"gangbang"}, {img:"gangbang14.jpg", alt:"gangbang"}, {img:"gangbang15.jpg", alt:"gangbang"}, {t: txt2, class : author}, {t:txt3, class: author}]

#gangbang

    h2 REDALJKA / GANGBANG (2014)
    include ../filter
  
p
p
