- var path = "images/whoredom/Uros/"
- var txt1 = "Uroš Đurić is one of the most important visual artists from Belgrade."
- var txt2 = "One day I decided it was time to meet him and we met each other just like that."
- var txt3 = "Photography: Milica Drakulić"
- var txt4 = "Makeup: Jana Škobić"
- var author = "author"

- var content = [{p:txt1}, {p:txt2}, {img:"Uros.jpg", alt:"I met Uroš Đurić"}, {t:txt3, class : author}, {t:txt4, class: author}]

#Uros

    h2 KAKO SAM UPOZNALA UROŠA ĐURIĆA / HOW I MET UROŠ ĐURIĆ (2014)

    include ../filter
