- var path = "images/whoredom/MSUV/"
- var txt1 = "Support Sonja Radaković in getting an independent exhibition in the Museum of Contemporary Art of Vojvodina (MSUV)!"
- var txt2 = "The quasi-political and self-initiated action Sonja for MSUV was carried out to promote the artist in public spaces in the period between 21 June and 28 July 2013 It was based on a symbolic collecting of signatures of citizens who, as in the period prior to an election ballot, performed the role of the general public. The stand and the promotional materials were presented at different locations in Novi Sad, where my team and I managed to collect more than 350 signatures."
- var txt3 = "We'll see whether I'll get a chance to exhibit there ;)"
- var txt4 = "The collecting of signatures was repeated as part of the retrospective exhibition Differences at the Museum of Contemporary Art of Vojvodina (2014). The petition now has more then 500 signatures."
- var txt5 = "Assistents: Marija Vuksanović and Bojana Radenović"
- var txt6 = "Photography: Sunčica Pasuljević Kandic and Irena Mirković"
- var author = "author"

- var content = [{p:txt1}, {p:txt2}, {img: "msuv1.jpg", alt:"msuv"}, {p:txt3}, {img: "msuv2.jpg", alt:"msuv"}, {img: "msuv3.jpg", alt:"msuv"}, {img: "msuv4.jpg", alt:"msuv"}, {img: "msuv5.jpg", alt:"msuv"}, {img: "msuv6.jpg", alt:"msuv"}, {img: "msuv7.jpg", alt:"msuv"}, {img: "msuv8.jpg", alt:"msuv"}, {img: "msuv9.jpg", alt:"msuv"}, {img: "msuv10.jpg", alt:"msuv"}, {img: "msuv11.jpg", alt:"msuv"}, {img: "msuv12.jpg", alt:"msuv"}, {p: txt4}, {img: "msuv13.jpg", alt:"msuv"}, {img: "msuv14.jpg", alt:"msuv"}, {img: "msuv15.jpg", alt:"msuv"}, {img: "msuv16.jpg", alt:"msuv"}, {img: "msuv17.jpg", alt:"msuv"}, {img: "msuv18.jpg", alt:"msuv"}, {t:txt5, class:author}, {t:txt6, class:author}]

#msuv
    H2 SONJA ZA MSUV / SONJA FOR MSUV (2013)
    include ../filter
