- var list = [{text:"Promotion 2016", class:"is-active"}, {text: "Artist for rent"}, {text:"An annoucment"}, {text:"Gangbang"}, {text:"How I met Uroš Đurić"}, {text:"Sonja for MSUV"}]

include ../works
