- var icon = "images/icon.jpg"
- var normalize = "css/normalize.css"
- var foundation = "css/foundation.min.css"
- var style = "css/style.css"

// charset
meta(charset="utf-8")

// responsive
meta(content='width=device-width' initial-scale='1.0' name='viewport')

// font
link(href = 'http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css')
// Foundation CSS
link(rel = "stylesheet" href = "https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css" type="text/css")

case lang
    when "Eng"
      // icon
      link(href= icon  rel='icon' type='image.ico')
      //  css
      link(rel="stylesheet" href=normalize type="text/css")
      link(rel="stylesheet" href=foundation type="text/css")
      link(rel="stylesheet" href=style type="text/css")
    default
      //- icon for non-english
      link(href='../' + icon rel='icon' type='image.ico')
      //  css for non-english 
      link(rel="stylesheet" href="../" + normalize type="text/css")
      link(rel="stylesheet" href="../" + foundation type="text/css")
      link(rel="stylesheet" href="../" + style type="text/css")
