- var foundation = "js/foundation.min.js" // foundation
- var app = "js/app.js"
- var what = "js/what-input.js"
- var footer = "js/footer.js" // Footer control
- var contact = "js/contact.js" // Contact control

script(src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

case lang
  when "Eng"
    //- Scripts for foundation
    script(src = foundation)
    script(src = app)
    script(src = what)
    script(src = footer)
    script(src = contact)
